*{margin:0;}html,body{height:100%;}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1.2;background:#000;font-family:HelveticaNeueCE-Thin, Arial, sans-serif;font-weight:700;color:#eee;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}
html {height:100%;}
body {height: 100%;}
@font-face{
	font-family:"awesomeness";
	src:url('../fonts/Avgardd.ttf');
}
@font-face{
	font-family:"awesome";
	src:url('../fonts/Avenir LT 45 Book.ttf');
}
body{
	background-color:rgb(236,172,37);
	background-image:url('../images/bg.png');
	font-size: 150%;
	text-align:center;
	font-family: awesomeness;
}
#logo{
	position: fixed;
	left:45%;
	width:10%;
	height:20%;
	z-index:11;
}
#home{
	color:#000;
	font-size:130%;
	width:60%;
	top:125%;
	position:absolute;
	left:20%;
	font-family:awesome;
	
}
#home a:hover{
	color:#fff;
}
#competition{
	position:absolute;
	top:185%;
	left:0.5%;
}
#expo{
	position:absolute;
	top:345%;
	left:0.5%;
}
#sponsors{
	position:absolute;
	top:505%;
	left:0.5%;
}
#about{
	position:absolute;
	top:665%;
	left:0.5%;
}
#contacts{
	position:absolute;
	top:825%;
	left:0.5%;
}
.page{
	width:98%;
	height:160%;
}
.page .content{
	text-align:center;
	width:75%;
	height: 99%;
	background-color: #ffffff; 
	position: absolute;
	left:13%;
	top:10%;
	border: 3px solid #DDA100;
}
.page h1{
	position:relative;
	top:7%;
	color:#000;
	font-size: 230%;
}
.box { 
	height: 20%;
	width: 50%;
 }
 .box h2{
 	color:#000;
	font-size: 150%;

 }
 .box img{
  position:relative;
  top:-15%;
 }
#team{
 	border: 1px solid #676767;
 }
 #social a{
    padding:5px 30px 5px 30px;
}
#b1{
position:absolute;
top:45%;
left:6%;
}
#b2{
position:absolute;
top:45%;
left:45%;
}
#b3{
position:absolute;
top:65%;
left:6%;
}
#b4{
position:absolute;
top:65%;
left:45%;
}
#b5{
position:absolute;
top:55%;
left:6%;
}
#b6{
position:absolute;
top:55%;
left:45%;
}
#b7{
position:absolute;
top:73%;
left:6%;
}
#b8{
position:absolute;
top:73%;
left:45%;
}

.page p{
	font-family:awesome;
	position: absolute;
	left:16%;
	top:18%;
	color: #676767;
	width:70%;
	height:90%;
}
.page img{
	position: absolute;
	top:20%;
	left:25%;
	width:45%;
}
#menu{
	background-color: #ffffff;
	position: fixed;
	width:100%;
	height: 15%;
	z-index: 10;
	font-size: 70%;
	-webkit-box-shadow: 0px 0px 8px 2px #000000;
    -moz-box-shadow: 0px 0px 8px 2px #000000;
    box-shadow: 0px 0px 8px 2px #000000;
}
#menu img{
	position:relative;
}
#menu ul li{
	display:inline;
	text-align: left;
    float: left;
    list-style: none;
    padding: 1% 3% 1% 3%;
}
#pf{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
a { 
	-webkit-transition:all 0.14s ease 0s; 
	-moz-transition:all 0.14s ease 0s; 
	-o-transition:all 0.14s ease 0s; 
	outline:none;
	text-decoration: none;
	color: #000;
}
a:hover {
	color: #0CC0CB;
}
.myImage:hover{
	cursor: pointer;
}
input {
	border: 1px solid #0cf;
    width: 100%;
    padding: 2%;
    margin-bottom:15%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    -moz-border-radius: 10px; /* rounded corners in Mozilla browsers, adjust to a higher value for more roundness */
	-webkit-border-radius: 10px;         /* Opera/IE 8+ */
}
input:focus{
	border: 1px solid #acf;
}
.page form{
	position: absolute;
	top:15%;
	left:35%;
}
.page form span{
	position:relative;
	left:-35%;
}
.page form .hea{
	position:absolute;
	left:-35%;
}
#reg .content{
	height: 270%;
}
select{
   background-color: #eee;
   border: 1px solid #0cf; 
   width: 100%;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 10px;
   -moz-border-radius: 10px; /* rounded corners in Mozilla browsers, adjust to a higher value for more roundness */
	-webkit-border-radius: 10px;
   height: 34px;
}
#i1{
position:absolute;
top:13%;
left:10%;
width:20%;
height:15%;
}
#i2{
position:absolute;
top:13%;
left:67%;
width:20%;
height:15%;
}
#i3{
position:absolute;
top:44%;
left:10%;
width:20%;
height:15%;
}
#i4{
position:absolute;
top:44%;
left:67%;
width:20%;
height:15%;
}
#i5{
position:absolute;
top:37%;
left:23%;
width:17%;
height:16%;
}
#i6{
position:absolute;
top:37%;
left:63%;
width:17%;
height:16%;
}
